// Approach and comments as in bootstrap customize docs
// https://getbootstrap.com/docs/5.2/customize/sass/


// Default variable overrides
$primary: rgb(130, 23, 130);
$gray: rgb(92, 29, 29);
$carousel-control-width: 9%;


$theme-colors: (
    "primary": $primary,
    "gray": $gray
);

// Create your own map
$custom-color : ("icon-background": rgb(130, 23, 130, 0.2));

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-color);


$utilities: (
  "rounded": (
    property: border-radius,
    class: rounded,
    values: (
      null: 1rem,
      circle: 50%
    )
  )
);


@import "./bootstrap/scss/bootstrap";



// Add additional custom code here

/************** HEADER **************/

.announcement-bar {
    font-size: 0.8rem;
    border-bottom: 1px solid var(--bs-gray);

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: inline-flex;
        margin: 0 -10px;

        li {
            margin: 0 10px;
            display: flex;
            align-items: center;

            .bi {
                background-color: var(--bs-icon-background);
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                margin-right: 6px;
            }

        }
    }

    @include media-breakpoint-down(lg) {
        display: none;
    }

}

// header {

//     .container, .row {
//         max-height: 100px !important;
//     }
// }

.site-header {

    &__logo {
        transform: scale(0.6);
        max-height: 100px !important;


        img {
            border-radius: 100% !important;
            overflow: hidden;

        }
    }

    .aws-search {
        &-field {
            font-size: 0.9rem;
            padding-left: 1.4rem;
            border-radius: 20px 0px 0px 0px !important;
        }

        &-btn {
            border-radius: 0px 20px 20px 0px !important;
        }
    }

    /* Main Menu */
    .main-navigation {
        font-weight: 200;

        .current-menu-item {
            background-color: rgb(149, 33, 149);
        }

        a {
            text-transform: uppercase;
            color: var(--bs-white);
            padding: 0.6rem 1.4rem;
        }

        a:hover {
            background-color: rgb(149, 33, 149);
        }


        .menu-toggle {
            background-color: $primary;
            color: $white;
            border: none;
        }

        .sub-menu {
            li {
                background-color: $primary;
            }
        }

    }


    

    




}
